
<h4>Vehicle Make List Details</h4>
<br />

<div ng-controller="MakeDeleteController"><button ng-click="makeDelete()"> Delete </button>  </div>

<div ng-controller="MakeDetailsController as vm">


    <p style="color:red"><strong>DANGER!!! This Item will be Deleted.</strong></p>
    <br />
    <br />
    <table>
        <tr><th>List details</th></tr>
        <tr><td>ID : {{vm.ID}}</td></tr>
        <tr><td>Name : {{vm.Name}}</td></tr>
        <tr><td>Abrv : {{vm.Abrv}}</td></tr>
    </table>

</div>
