<h3>VehicleMake List</h3>
<div ng-controller="VehicleMakeController as vm">

    <a ng-href="#MakeAdd" class="button">Add new</a>
    <br />
    <br />

    <label>Search item: <input type="text" ng-model="Txt" /></label>
    <br />
    <br />

    <table style="width:40%">
        <tr>
            <th>
            <button ng-click="sort('ID')">ID</button>
            </th>
            <th>
            <button ng-click="sort('Name')">Name</button>
            </th>
            <th>
            <button ng-click="sort('Abrv')">Abrv</button>
            </th>
        </tr>
        <tbody>
            <tr style="background-color:gainsboro; color:blue;" ng-repeat="dat in vm.vehicle | orderBy : sortKey : reverse | filter : Txt">
                <td>{{dat.ID}}</td>
                <td>{{dat.Name}}</td>
                <td>{{dat.Abrv}}</td>
                <td><a ng-href="#/MakeDetails/{{dat.ID}}">Details</a></td>
                <td><a ng-href="#/MakeEdit/{{dat.ID}}">Edit</a></td>
            </tr>
        </tbody>
    </table>


</div>
