<h3>VehicleMake List</h3>
<div ng-controller="VehicleMakeController">

    <a ng-href="#MakeAdd" class="button">Add new</a>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ABRV</th>
        </tr>
        <tbody ng-repeat="dat in vehicleMake">
            <tr>
                <td >{{dat.ID}}</td>
                <td>{{dat.Name}}</td>
                <td>{{dat.Abrv}}</td>
                <td></td>
                <td><a ng-href="#/MakeDetails/{{dat.ID}}">Details</a></td>
            </tr>
            
        </tbody>
    </table>
</div>
