<br>
<h2>VehicleMake List</h2>
<div ng-controller="VehicleMakeController">

    <a ng-href="#MakeAdd" class="button">Add new</a>

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ABRV</th>
        </tr>

        <tbody ng-repeat="sub in vehicleMake">
            <tr>
                <td >{{sub.ID}}</td>
                <td>{{sub.Name}}</td>
                <td>{{sub.Abrv}}</td>
                <td></td>
                <td><a ng-controller="MakeDetailsController" ng-click="detailsVehicle('{{sub.ID}}')" ng-href="#MakeDetails">Details</a></td>
            </tr>
            
        </tbody>
    </table>
</div>
